# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw

# Virtual environment
venv/
env/
.env

# Dependency directories
.venv/
node_modules/
*.env

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Temporary files
*.swp
*~